.container {
    
}

.container ol {
    margin: 0;
    padding: 0
}

.container table td,
.container table th {
    padding: 0
}

.c101 {
    margin-left: 0.2pt;
    padding-top: 1.8pt;
    text-indent: 3.2pt;
    padding-bottom: 0pt;
    line-height: 1.0937641859054565;
    text-align: left;
    margin-right: 13.6pt
}

.c56 {
    margin-left: 0.2pt;
    padding-top: 8.7pt;
    text-indent: 0.7pt;
    padding-bottom: 0pt;
    line-height: 1.086521029472351;
    text-align: left;
    margin-right: 63.5pt
}

.c21 {
    color: #2f5496;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 13pt;
    font-family: "Calibri";
    font-style: normal
}

.c34 {
    margin-left: 0.2pt;
    padding-top: 24.7pt;
    text-indent: -0.2pt;
    padding-bottom: 0pt;
    line-height: 1.684107780456543;
    text-align: left;
    margin-right: 14pt
}

.c31 {
    margin-left: 0.5pt;
    padding-top: 0pt;
    text-indent: 0.4pt;
    padding-bottom: 0pt;
    line-height: 1.095579743385315;
    text-align: left;
    margin-right: 6.3pt
}

.c27 {
    margin-left: 0.2pt;
    padding-top: 24.2pt;
    text-indent: -0.2pt;
    padding-bottom: 0pt;
    line-height: 1.7022160291671753;
    text-align: left;
    margin-right: 14pt
}

.c60 {
    margin-left: 0.5pt;
    padding-top: 2.6pt;
    text-indent: 0.5pt;
    padding-bottom: 0pt;
    line-height: 1.095575213432312;
    text-align: left;
    margin-right: 9.7pt
}

.c65 {
    margin-left: 0.2pt;
    padding-top: 8.3pt;
    text-indent: 0.7pt;
    padding-bottom: 0pt;
    line-height: 1.0955774784088135;
    text-align: left;
    margin-right: -0.1pt
}

.c53 {
    margin-left: 0.2pt;
    padding-top: 2.6pt;
    text-indent: 0.7pt;
    padding-bottom: 0pt;
    line-height: 1.0955755710601807;
    text-align: left;
    margin-right: 9pt
}

.c61 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 28.1pt;
    font-family: "Calibri";
    font-style: normal
}

.c22 {
    margin-left: 0.5pt;
    padding-top: 9.7pt;
    text-indent: -0.2pt;
    padding-bottom: 0pt;
    line-height: 1.0865228176116943;
    text-align: left;
    margin-right: 27pt
}

.c83 {
    margin-left: 0.5pt;
    padding-top: 1.9pt;
    text-indent: 0.5pt;
    padding-bottom: 0pt;
    line-height: 1.0942820310592651;
    text-align: left;
    margin-right: 0pt
}

.c84 {
    margin-left: 0.5pt;
    padding-top: 8.3pt;
    text-indent: 0.5pt;
    padding-bottom: 0pt;
    line-height: 1.1046338081359863;
    text-align: left;
    margin-right: 58.2pt
}

.c92 {
    margin-left: 0.2pt;
    padding-top: 8.5pt;
    text-indent: 0.7pt;
    padding-bottom: 0pt;
    line-height: 1.086523413658142;
    text-align: left;
    margin-right: 29.1pt
}

.c15 {
    margin-left: 0.5pt;
    padding-top: 8.6pt;
    text-indent: 0.4pt;
    padding-bottom: 0pt;
    line-height: 1.0865204334259033;
    text-align: left;
    margin-right: 19.4pt
}

.c57 {
    margin-left: 0.3pt;
    padding-top: 8.4pt;
    text-indent: -0.1pt;
    padding-bottom: 0pt;
    line-height: 1.1046284437179565;
    text-align: left;
    margin-right: 3.2pt
}

.c72 {
    margin-left: 0.2pt;
    padding-top: 8.7pt;
    text-indent: 0.3pt;
    padding-bottom: 0pt;
    line-height: 1.0925601720809937;
    text-align: left;
    margin-right: 2.8pt
}

.c58 {
    margin-left: 0.2pt;
    padding-top: 8.6pt;
    text-indent: 0.7pt;
    padding-bottom: 0pt;
    line-height: 1.086525797843933;
    text-align: left;
    margin-right: 32.3pt
}

.c32 {
    color: #2f5496;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 16.1pt;
    font-family: "Calibri";
    font-style: normal
}

.c63 {
    margin-left: 0.2pt;
    padding-top: 24.7pt;
    text-indent: -0.2pt;
    padding-bottom: 0pt;
    line-height: 1.7022160291671753;
    text-align: left;
    margin-right: 14pt
}

.c69 {
    margin-left: 0.2pt;
    padding-top: 1.9pt;
    text-indent: 0.7pt;
    padding-bottom: 0pt;
    line-height: 1.092557668685913;
    text-align: left;
    margin-right: 10.3pt
}

.c74 {
    margin-left: 0.5pt;
    padding-top: 2.2pt;
    text-indent: 0.5pt;
    padding-bottom: 0pt;
    line-height: 1.095579743385315;
    text-align: left;
    margin-right: 0.3pt
}

.c66 {
    margin-left: 36.5pt;
    padding-top: 1.8pt;
    text-indent: -18.1pt;
    padding-bottom: 0pt;
    line-height: 1.0865228176116943;
    text-align: left;
    margin-right: 10pt
}

.c48 {
    margin-left: 0.5pt;
    padding-top: 9.7pt;
    text-indent: 0.4pt;
    padding-bottom: 0pt;
    line-height: 1.0865204334259033;
    text-align: left;
    margin-right: 4.5pt
}

.c11 {
    margin-left: 0.5pt;
    padding-top: 2.6pt;
    text-indent: 0pt;
    padding-bottom: 0pt;
    line-height: 1.095579743385315;
    text-align: left;
    margin-right: 21.7pt
}

.c36 {
    margin-left: 0.2pt;
    padding-top: 1.8pt;
    text-indent: 0.7pt;
    padding-bottom: 0pt;
    line-height: 1.092557430267334;
    text-align: left;
    margin-right: 0.4pt
}

.c7 {
    margin-left: 0.5pt;
    padding-top: 9.7pt;
    text-indent: 0.4pt;
    padding-bottom: 0pt;
    line-height: 1.086521029472351;
    text-align: left;
    margin-right: 17pt
}

.c86 {
    margin-left: 0.5pt;
    padding-top: 0pt;
    text-indent: 0pt;
    padding-bottom: 0pt;
    line-height: 1.086525797843933;
    text-align: left;
    margin-right: 2pt
}

.c9 {
    margin-left: 0.5pt;
    padding-top: 0pt;
    text-indent: 0.4pt;
    padding-bottom: 0pt;
    line-height: 1.095579743385315;
    text-align: left;
    margin-right: 8.7pt
}

.c42 {
    margin-left: 0.2pt;
    padding-top: 47.7pt;
    text-indent: -0.2pt;
    padding-bottom: 0pt;
    line-height: 1.7022205591201782;
    text-align: left;
    margin-right: 14pt
}

.c10 {
    margin-left: 0.2pt;
    padding-top: 1.9pt;
    text-indent: 0.7pt;
    padding-bottom: 0pt;
    line-height: 1.0925579071044922;
    text-align: left;
    margin-right: -0.3pt
}

.c18 {
    margin-left: 0.5pt;
    padding-top: 8.3pt;
    text-indent: -0.3pt;
    padding-bottom: 0pt;
    line-height: 1.1046338081359863;
    text-align: left;
    margin-right: 22.4pt
}

.c80 {
    margin-left: 0.2pt;
    padding-top: 24.2pt;
    text-indent: -0.2pt;
    padding-bottom: 0pt;
    line-height: 1.7022205591201782;
    text-align: left;
    margin-right: 14pt
}

.c96 {
    margin-left: 0.1pt;
    padding-top: 8.7pt;
    text-indent: 0.7pt;
    padding-bottom: 0pt;
    line-height: 1.11066734790802;
    text-align: left;
    margin-right: 81.6pt
}

.c14 {
    margin-left: 0.2pt;
    padding-top: 8.4pt;
    text-indent: 0.7pt;
    padding-bottom: 0pt;
    line-height: 1.1046338081359863;
    text-align: left;
    margin-right: 3.3pt
}

.c44 {
    margin-left: 0.2pt;
    padding-top: 2.6pt;
    text-indent: 0.7pt;
    padding-bottom: 0pt;
    line-height: 1.0955743789672852;
    text-align: left;
    margin-right: 29.1pt
}

.c77 {
    margin-left: 0.5pt;
    padding-top: 2.2pt;
    text-indent: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0937645435333252;
    text-align: left;
    margin-right: 0.5pt
}

.c29 {
    margin-left: 0.5pt;
    padding-top: 8.7pt;
    text-indent: -0.2pt;
    padding-bottom: 0pt;
    line-height: 1.0865228176116943;
    text-align: left;
    margin-right: 17pt
}

.c94 {
    margin-left: 0.2pt;
    padding-top: 8.4pt;
    text-indent: 0.7pt;
    padding-bottom: 0pt;
    line-height: 1.098597764968872;
    text-align: left;
    margin-right: 16.8pt
}

.c49 {
    margin-left: 0.2pt;
    padding-top: 24.5pt;
    text-indent: -0.2pt;
    padding-bottom: 0pt;
    line-height: 1.684112548828125;
    text-align: left;
    margin-right: 14pt
}

.c81 {
    margin-left: 0.3pt;
    padding-top: 2.2pt;
    text-indent: 0.6pt;
    padding-bottom: 0pt;
    line-height: 1.0955774784088135;
    text-align: left;
    margin-right: 12.9pt
}

.c1 {
    margin-left: 0.5pt;
    padding-top: 8.4pt;
    text-indent: 0.4pt;
    padding-bottom: 0pt;
    line-height: 1.0955774784088135;
    text-align: left;
    margin-right: 7.1pt
}

.c0 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Calibri";
    font-style: normal
}

.c90 {
    margin-left: 0.2pt;
    padding-top: 8.3pt;
    text-indent: 0.7pt;
    padding-bottom: 0pt;
    line-height: 1.0925593376159668;
    text-align: left;
    margin-right: 6.6pt
}

.c99 {
    margin-left: 0.2pt;
    padding-top: 8.4pt;
    text-indent: 0.7pt;
    padding-bottom: 0pt;
    line-height: 1.0925601720809937;
    text-align: left;
    margin-right: 1pt
}

.c46 {
    margin-left: 0.9pt;
    padding-top: 8.7pt;
    text-indent: -0.7pt;
    padding-bottom: 0pt;
    line-height: 1.0865204334259033;
    text-align: left;
    margin-right: 10.4pt
}

.c98 {
    margin-left: 0.2pt;
    padding-top: 8.7pt;
    text-indent: -0.1pt;
    padding-bottom: 0pt;
    line-height: 1.0925601720809937;
    text-align: left;
    margin-right: 25pt
}

.c76 {
    margin-left: 0.5pt;
    padding-top: 8.7pt;
    text-indent: -0.2pt;
    padding-bottom: 0pt;
    line-height: 1.095579743385315;
    text-align: left;
    margin-right: 32.6pt
}

.c73 {
    margin-left: 0.1pt;
    padding-top: 9.7pt;
    text-indent: 0.9pt;
    padding-bottom: 0pt;
    line-height: 1.0925568342208862;
    text-align: left;
    margin-right: 21.7pt
}

.c24 {
    margin-left: 0.4pt;
    padding-top: 8.7pt;
    text-indent: 0.1pt;
    padding-bottom: 0pt;
    line-height: 1.095574975013733;
    text-align: left;
    margin-right: 4.6pt
}

.c13 {
    margin-left: 0.5pt;
    padding-top: 2.8pt;
    text-indent: 0.4pt;
    padding-bottom: 0pt;
    line-height: 1.095579743385315;
    text-align: left;
    margin-right: 4.6pt
}

.c12 {
    margin-left: 0.2pt;
    padding-top: 8.7pt;
    text-indent: 0.7pt;
    padding-bottom: 0pt;
    line-height: 1.0865204334259033;
    text-align: left;
    margin-right: 74.8pt
}

.c88 {
    margin-left: 0.3pt;
    padding-top: 8.5pt;
    text-indent: 0.6pt;
    padding-bottom: 0pt;
    line-height: 1.0925571918487549;
    text-align: left;
    margin-right: 11.6pt
}

.c55 {
    margin-left: 0.3pt;
    padding-top: 2.2pt;
    text-indent: 0.6pt;
    padding-bottom: 0pt;
    line-height: 1.0925573110580444;
    text-align: left;
    margin-right: 7.5pt
}

.c23 {
    color: #1f3763;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 12pt;
    font-family: "Calibri";
    font-style: normal
}

.c33 {
    margin-left: 0.2pt;
    padding-top: 1.9pt;
    text-indent: 0.7pt;
    padding-bottom: 0pt;
    line-height: 1.0955774784088135;
    text-align: left;
    margin-right: 0.6pt
}

.c37 {
    margin-left: 0.9pt;
    padding-top: 8.7pt;
    text-indent: -0.6pt;
    padding-bottom: 0pt;
    line-height: 1.0865228176116943;
    text-align: left;
    margin-right: 3.3pt
}

.c59 {
    margin-left: 0.7pt;
    padding-top: 8.6pt;
    text-indent: 0.2pt;
    padding-bottom: 0pt;
    line-height: 1.0865216255187988;
    text-align: left;
    margin-right: 28pt
}

.c25 {
    margin-left: 0.9pt;
    padding-top: 1.8pt;
    text-indent: -0.7pt;
    padding-bottom: 0pt;
    line-height: 1.0865204334259033;
    text-align: left;
    margin-right: 13.4pt
}

.c82 {
    margin-left: 0.1pt;
    padding-top: 8.7pt;
    text-indent: 0.9pt;
    padding-bottom: 0pt;
    line-height: 1.0865204334259033;
    text-align: left;
    margin-right: 97.4pt
}

.c95 {
    margin-left: 0.9pt;
    padding-top: 9.4pt;
    padding-bottom: 0pt;
    line-height: 1.1046284437179565;
    text-align: left;
    margin-right: 30.3pt
}

.c71 {
    margin-left: 18.4pt;
    padding-top: 0.8pt;
    padding-bottom: 0pt;
    line-height: 1.0865228176116943;
    text-align: left;
    margin-right: 88.7pt
}

.c78 {
    margin-left: 18.4pt;
    padding-top: 1.8pt;
    padding-bottom: 0pt;
    line-height: 1.0865204334259033;
    text-align: left;
    margin-right: 45.3pt
}

.c30 {
    margin-left: 0.9pt;
    padding-top: 9.7pt;
    padding-bottom: 0pt;
    line-height: 1.086525797843933;
    text-align: left;
    margin-right: 88.3pt
}

.c26 {
    margin-left: 0.2pt;
    padding-top: 8.6pt;
    padding-bottom: 0pt;
    line-height: 1.092558741569519;
    text-align: left;
    margin-right: 7.3pt
}

.c39 {
    margin-left: 0.9pt;
    padding-top: 2.6pt;
    padding-bottom: 0pt;
    line-height: 1.1046338081359863;
    text-align: left;
    margin-right: 11pt
}

.c41 {
    margin-left: 18.4pt;
    padding-top: 8.6pt;
    padding-bottom: 0pt;
    line-height: 1.086525797843933;
    text-align: left;
    margin-right: 70.1pt
}

.c47 {
    margin-left: 0.9pt;
    padding-top: 8.7pt;
    padding-bottom: 0pt;
    line-height: 1.1046290397644043;
    text-align: left;
    margin-right: 6.6pt
}

.c100 {
    margin-left: 0.8pt;
    padding-top: 4.5pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c45 {
    margin-left: 18.4pt;
    padding-top: 9.7pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c70 {
    margin-left: 0.9pt;
    padding-top: 1.9pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c19 {
    margin-left: 18.4pt;
    padding-top: 0.8pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c50 {
    margin-left: 18.4pt;
    padding-top: 1.8pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c38 {
    margin-left: 0.8pt;
    padding-top: 8.4pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c79 {
    margin-left: 0.9pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c97 {
    margin-left: 0.3pt;
    padding-top: 2.4pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c5 {
    margin-left: 0.8pt;
    padding-top: 8.7pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c51 {
    margin-left: 1.1pt;
    padding-top: 12pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c91 {
    margin-left: 0.9pt;
    padding-top: 8.4pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c85 {
    margin-left: 1.1pt;
    padding-top: 13pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c89 {
    margin-left: 0.2pt;
    padding-top: 8.7pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c8 {
    margin-left: 18.4pt;
    padding-top: 0.6pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c75 {
    margin-left: 1.1pt;
    padding-top: 13.3pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c40 {
    margin-left: 0.9pt;
    padding-top: 8.7pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c54 {
    margin-left: 1.5pt;
    padding-top: 28.7pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c6 {
    margin-left: 18.4pt;
    padding-top: 1.5pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c62 {
    margin-left: 0.8pt;
    padding-top: 8.6pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c16 {
    margin-left: 1.1pt;
    padding-top: 12.3pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c43 {
    margin-left: 1.5pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c35 {
    margin-left: 0.9pt;
    padding-top: 2.8pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c3 {
    margin-left: 1.1pt;
    padding-top: 8.4pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c52 {
    margin-left: 1.1pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c68 {
    margin-left: 1.1pt;
    padding-top: 8.6pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c2 {
    margin-left: 18.4pt;
    padding-top: 8.7pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c4 {
    margin-left: 0.4pt;
    padding-top: 8.3pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c17 {
    margin-left: 0.7pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c28 {
    margin-left: 0.9pt;
    padding-top: 9.7pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c67 {
    margin-left: 1.1pt;
    padding-top: 11.9pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: left
}

.c20 {
    padding-top: 8.7pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: center
}

.c87 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: center
}

.c64 {
    padding-top: 1.3pt;
    padding-bottom: 0pt;
    line-height: 1.0;
    text-align: center
}

.c93 {
    background-color: #ffffff;
    max-width: 453.5pt;
    padding: 71pt 69pt 75.1pt 72.4pt
}

.title {
    padding-top: 24pt;
    color: #000000;
    font-weight: 700;
    font-size: 36pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 18pt;
    color: #666666;
    font-size: 24pt;
    padding-bottom: 4pt;
    font-family: "Georgia";
    line-height: 1.15;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

.container li {
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

.container p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Arial"
}

.container h1 {
    padding-top: 24pt;
    color: #000000;
    font-weight: 700;
    font-size: 24pt;
    padding-bottom: 6pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.container h2 {
    padding-top: 18pt;
    color: #000000;
    font-weight: 700;
    font-size: 18pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.container h3 {
    padding-top: 14pt;
    color: #000000;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 4pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.container h4 {
    padding-top: 12pt;
    color: #000000;
    font-weight: 700;
    font-size: 12pt;
    padding-bottom: 2pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.container h5 {
    padding-top: 11pt;
    color: #000000;
    font-weight: 700;
    font-size: 11pt;
    padding-bottom: 2pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.container h6 {
    padding-top: 10pt;
    color: #000000;
    font-weight: 700;
    font-size: 10pt;
    padding-bottom: 2pt;
    font-family: "Arial";
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}