.container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: #000000;

  z-index: 999999;

  color: #686C54;

  background-image: url("/images/background/pattern_256x191_10.png");
}

.containerInner {
  padding: 32px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  max-width: 1024px;
}

.pageTitle {
  font-size: 48px;
  font-weight: bold;
}

.title {
  font-size: 48px;

  color: #FFFFFF;
}

.description {
  font-size: 32px;
}

@media screen and (max-width: 900px) {
  .pageTitle {
    font-size: 32px;
  }

  .title {
    font-size: 32px;
  }

  .description {
    font-size: 24px;
  }
}

.buttons {
  display: flex;
}

@media screen and (max-width: 640px) {
  .pageTitle {
    width: 280px;
    font-size: 24px;
  }

  .description {
    font-size: 20px;
    line-height: 24px;
  }

  .description:nth-of-type(2) {
    font-weight: 600;
  }
}